.text-overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

abbr {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}
